ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

td
{
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 90%;
  background-color: #fff;
}

body
{
  font-family: Arial, sans-serif;
  font-size: 90%;
  background: #fff url(../images/top-bg.jpg) repeat-x;
  margin: 0px;
  color: #003240;
}

body
{
  padding: 0px;
}
