body
{
  font-family: Arial, sans-serif;
  font-size: 90%;
  margin: 0px;
  color: #003240;
}

div.wrapper{
	/*background: #fff url(../images/back.gif);*/
	clear: left;
}

a{
	color: #003240;
}

a:hover{
	background-color: yellow;text-decoration: none;
}
small{
	font-style: italic;
}

div#header-top{
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
	height: 80px;
}

p{
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 90%;
}

h2, h3{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 120%;
	border-bottom: 1px solid #003240;
	padding: 2px; 
}

h2.home{
	border-bottom: 1px solid red;
	width: 40%;
}

h2.menu-expand{
	background: url(../images/plus.jpeg) top left no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	margin-left: -20px;
	border: 0px;
}

a.menu-expand{
	background: url(../images/plus.jpeg) top left no-repeat;
	padding-left: 13px;
	margin-left: -13px;
}

h2.menu-collapse{
	background: url(../images/minus.jpeg) top left no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	margin-left: -20px;
	border: 0px;
}

a.menu-collapse{
	background: url(../images/minus.jpeg) top left no-repeat;
	padding-left: 13px;
	margin-left: -13px;
}

h3{
	font-size: 105%;
}

ul{
	list-style-type: none;
}

ul li{
	list-style-type: none;
}

ul li[class="gray"]{
	background-color: #ddd;
}

ul#lista li{
	margin-top: 10px;
	border-bottom: 1px solid #aaa;
}

strong.red{
	color: #BF0000;
}

input.button_submit{
	margin-left: 0px;
	margin-top: 3px;
}

p.error, span.error{
	color: red;
	margin-bottom: 4px;
}

p.install_todo{
	margin-bottom: 4px;
}

span.install_todo{
	background-color: #ddd;
	padding: 2px;
	margin: 4px;
	border: 1px solid #000;
}

a.stato{
	border: 1px solid #000;
	background-color: #f4f4f4;
	font-size: 13px;
	font-family: arial;
	padding: 1px 2px 1px 2px;
}
a.stato:hover{
	text-decoration: none;
}

a.link_stato:hover{
	text-decoration: underline;
}

ul.home{
	margin: 5px;
	list-style-type: square;
}
ul.home li{
 	list-style-type: square;
	margin-left: 10px;
	padding: 3px;
	border: 0px;
}

ul.home li li{
	 list-style-type: circle;
	 color: red;
	 font-style: italic;
	 font-size: 90%;
}

ul.stato{
	height: 20px;
}
ul.stato li{
	border: 0px;
	display: inline;
	float: right;
	/*margin-right: 3px;*/
	margin-top: 2px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 85%;
}

ul.stato li.non_inviata{
	background-color: yellow;
}

ul.stato li.inviata a{
	color: #fff;
}

ul.stato li.inviata{
	background-color: blue;
	color: white !important;
	border: 1px solid #fff;	
}

ul.stato li.pagata{
	background-color: green;
}

ul.stato li.rifiutata{
	background-color: red;
}

fieldset{
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #CEE0E6;
	border: 1px solid #003240;
	padding-bottom: 20px;
	width: auto;
}

fieldset legend{
	font-size: 90%;
	background-color: #CEE0E6;
	border: 1px solid #003240;
	border-bottom: 0px;
	margin-bottom: 24px;	
	margin-left: -1px;
	padding: 5px;
}

fieldset.normal{
	margin-top: 10px;
	margin-bottom: 0px;
	background: #fff url(../images/fieldset-bg.jpg) repeat-x bottom;
	border: 1px solid #003240;
	padding-bottom: 20px;
	padding-left: 10px;
	height: 110px;
}

fieldset.normal legend{
	font-size: 90%;
	background-color: #fff;
	margin-left: -1px;
	padding: 5px;
	margin-bottom: 0px;
	border: 0px;
	margin-left: 0px;
	font-weight: bold;
}

div.contatti{
	margin-top: 20px;
	font-size: 90%;
	padding: 20px;
	background: #f5f5f5 url(../images/bg_mail.gif) no-repeat 95% 5%;
	width: 50%;
	border: 1px solid #ddd;
}

div.contatti input[name="nome"], div.contatti input[name="email"],div.contatti input[name="oggetto"],div.contatti textarea{
	width: 350px;
}

div.contatti textarea{
	height: 120px;
}
div.contatti label{
	display: block;
	padding: 4px;
	font-weight: bold;
}
/*************************************
* ID BLOCK                           *
*************************************/

#content{
	clear: left;
	margin-top: 70px;
	margin-left: 30px;
	margin-right: 30px;
	min-height: 650px;
}

div.content_left{       
	float: left;
	margin-top: 10px;
	background-color: transparent;
}
div.content_right{
	width: 85.5%;
	float: right;
	padding-bottom: 40px;
}

#footer{
	clear: right;
	width:100%;
	border-top:5px solid #003240;
	border-bottom:none;
	color: #BF0000;
	clear:both;
	padding: 3px 0;
	font-size: 90%;
	text-align: center;
	margin-top: 10px;
}

#footer a{
	color: #BF0000;
}

#footer a:hover{
	background: none;
	color: #BF0000;
	border-bottom: 1px solid #BF0000;
}

body > #bread-crumps{
	margin-top: 45px;
	clear: left;
	color: #003240;
	margin-left: 25px;
}

#bread-crumps ul li{
	display: inline;
	float: left;
	border: 0px;
	font-size: 85%;
	margin-left: 5px;
}

div.header_date{
	float: right;
	font-size: 90%;
	margin-bottom: 0px;
	text-align: right;
	color: #fff;
	margin-top: 8px;
	margin-right: 30px
}

div.actions{
	top: 48px;
	position: fixed;
	border: 1px solid #aaa;
	background-color: #CEE0E6;
	font-size: 90%;
	width: 100%;
}

div.nofixed{
	position: relative;
	top: 0px;
	left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.actions ul{
	list-style-type: none;
	margin: 0px;
	padding: 1px;
	height: 15px;
}

div.actions ul li{
	list-style-type: none;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	border: 0px;
	float: left;
	border-right: 1px solid #000;
	font-weight: bold;
}

div.actions ul li a{
	color: #000;
}

div.actions ul li[class=last]{
	border-right: none;
}

div.search{
	margin-bottom: 10px;
}

div.filter{
	margin-bottom: 5px;
}

div.fattura_stato{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 10px;
	border: 5px solid;
	width: 288px;
	clear: right;
}

div.button_block{
	margin-bottom: 40px;
}

div#data_stato_pagata, div#data_stato_rifiutata, #data_stato_inviata{
	border: 1px solid #aaa;
	margin-left: 0px;
	width: 310px;
	padding: 2px;
	padding-top: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#indicator{
	position: absolute;
	width: 100px;
	height: 40px;
	left: 5px;
	top: 10px;
	z-index: 900;
	background: url(../images/indicator.gif) no-repeat;
}

div#contatti{
	margin-top: 0px;
	margin-left: 5px;
}

div.login_error{
	color: red;
	margin-bottom: 10px;
	font-weight: bold;
}

div#search_cliente{
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
}

div#search_cliente #lista_clienti ul#lista{
	list-style-type: none;
}

div#search_cliente #lista_clienti ul#lista li{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 1px;
	border-bottom: 1px dotted #000;
}

div#lista_cliente div.search{
	display: none;
	font-size: 0px;
	color: #fff;
}

div#lista_clienti div.search{
	font-size: 80%;
	font-style: italic;
}

div#search_cliente input{
	font-size: 11px;
}

div#scheda_cliente{
	border: 1px solid #003240;
	padding: 5px 5px 10px 10px;
	width: 90%;
	margin-top: 6px;
	background-color: #CEE0E6;
}

#edit-options{
	margin-right: 20px;
}

div#edit-options div.fieldset{
	background-color: #CEE0E6;
	border-left: 1px solid #003240;
	border-right: 1px solid #003240;
	border-bottom: 1px solid #003240;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 100%;
	display: block;
}

div#edit-options div.impostazioni{
	width: 500px;
}

div#edit-options div.tema-validate-error{

}

div#edit-options div.tema-fattura{
}

div#edit-options div.fieldset p{
	margin-left: 10px;	
}

div#edit-options ul{
	border-bottom: 1px solid #003240;
	height:29px;
	width: 102.4%;
}

div#edit-options ul.impostazioni{
	width: 522px;
}
div#edit-options ul li {
	list-style-type: none;
	display: inline;
	float: left;
	border: 1px solid #003240;
	background-color: #CEE0E6;
	padding: 5px;
	font-size: 90%;
	margin-right: 2px;
	height: 18px;
}

div#edit-options ul li.selected{
	border-bottom: 0px;
	margin-top: 1px;
}

#edit-options ul li.validate-error{
	font-style: italic;
	color: red;
	margin-top: 10px !important;
}

div#edit-options table.impostazioni{
	margin-left: 20px;
}

div.dettagli_fattura{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}

td.align-left{
	text-align: left !important;
}

table td{
	font-size: 95%;
}

table.fattura_show{
	margin-bottom: 20px;
}

table.fatture, table.fatture td, table.fatture th, 
table.dettagli_fattura, table.dettagli_fattura td, table.dettagli_fattura th,
table.cliente, table.cliente td, table.cliente th, 
table.fattura th, table.fattura td, 
table.utente td,
table.banca, table.banca th, table.banca td{
	border: 1px solid #aaa;
	padding: 2px;
}

table.cliente, table.fattura{
	border: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

table.fattura{
	margin-bottom: 20px;
}

table.utente,
table.banca{
	margin-left: 20px;
	border: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

table.utente th{
	padding: 4px;
}

table.cliente th, #scheda_cliente table.fatture th, fieldset table th, #edit-options table th{
	color: #fff;
	background-color: #003240 !important;
}

#edit-options table.cliente, table.fattura{
	margin-left: 20px;
}
table.fatture th, table.dettagli_fattura th, table.cliente th, table.fattura th, table.utente th, table.banca th{
	background-color: #CEE0E6;
	font-size: 90%;
}

table.cliente th, table.fattura th, table.calcola_fattura th, table.utente th, table.banca th{
	text-align: left;
	font-size: 90%;
}

table.fatture td, table.dettagli_fattura td{
	text-align: center;
}

td.red{
	background-color: red;
}

table.fattura_show1{
	width: 320px;
}

table.fattura{
	margin-top: 3px;
}

table.fatture{
	background: #fff url(../images/fieldset-bg.jpg) repeat-x bottom;
}

table td.validate-error{
	border: 0px;
	background-color: transparent;
	font-style: italic;
}

div.validate-error{
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

input[type="submit"],input[type="button"]{
	border: 1px solid #aaa;
	background-color: #CEE0E6;
}

input[type="text"],input[type="password"],select,textarea,input[type="checkbox"], input[type="file"]{
	border: 1px solid #aaa;
	background-color: #CEE0E6;
}
input[name="qty[]"],input[name="sconto[]"],input[name="prezzo_totale[]"],
input[name="qty_new[]"]{
	text-align: center;
}

input[name="prezzo[]"],input[name="prezzo_new[]"],input[name="iva[]"],input[name="iva_new[]"],
input[name="sconto_new[]"],input[name="sconto	[]"]{
	text-align: right;
}

table.login{
	background: #fff url(../images/fieldset-bg.jpg) repeat-x bottom;
	border: 1px solid #aaa;
	font-size: 90%;
	margin-top: 20px;
	margin-left: 30px;
}

div.sign-up{
	background-color: #003240;
	color: #fff !important;
	padding: 10px;
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 10px;
	border: 2px solid #CEE0E6;
}

div.sign-up p.adv{
	color: yellow;
	font-size: 110%;
}

div.sign-up a{
	color: #fff !important;
}

div.sign-up a:hover{
	background: transparent;
	font-weight: bold;
}

table.login th{
	text-align: left;
	background: transparent;
	padding: 3px;
}

table.login td{
	padding: 3px;
	background: transparent;
}

table.filter{
	margin-bottom: 10px;
	border: 1px solid #aaa;
}

table.filter label{
	font-style: italic;
	font-size: 85%;
}

table.filter td{
	padding: 3px;
}

table.filter td.border_window{
	background-color: #ddd;
	border-bottom: 1px solid #000;
	padding: 0px;
	font-size: 5px;
}

.filter_link{
	margin-left: 0px;
	font-style: italic;
	margin-bottom: 10px;
}

.filter_link a{
	text-decoration: none;
}

.nomargin{
	margin: 0px;
}

div.clear{
	clear: left;
}

.navigator{
	font-size: 80%;
	font-style: italic;
	margin-top: 10px;
}

.z-index-max{
	z-index: +900;
}

table.fatture td.cliente{
	text-align: left !important;
	padding-left: 4px;
}

#hormenu ul li.pro{
	margin-left: 50px !important;
	width: 150px;
	text-align: center;
	background-color: #fff;
	display: none;
}

#hormenu ul li.pro a{
	color: red;
	font-weight: 700;
}

#pro h3{
	border: 0px;
	background-color: transparent;
	/*border-bottom: 1px solid red;*/
}

div#header-top div.user-board{
	font-size: 90%;
	float: right;
	color: #003240;
	margin-right: 30px;
}

div.data{
	border: 1px solid #aaa;
	margin-top: 3px;
	padding: 3px;
	background-color: #CEE0E6;
}

div.update-profile{
	border: 3px solid #FFA500;
	background-color: #FEF5CA;
	padding: 4px;
	margin-bottom: 10px;
}

div.interruzione strong.red{
	font-size: 110%;
}

div.interruzione ul{
	font-weight: normal;
	font-size: 100%;
	font-family: Arial, sans-serif;
}

div.update-profile a{
	color: #222;
}

span.logout{
	font-weight: bold;
}

#tags{
	font-size: 90% !important;
	margin-bottom: 15px;
}

table div.pagina ul{
	margin-left: 30px;
	font-weight: bold;
}
table div.pagina ul li{
	list-style-type: disc;
	line-height: 1.5em;
}

div.screenshot{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

div.screenshot table td, div.home table td{
	padding: 2px;
	background-color: #CEE0E6;
}

div.home table{
	margin-top: 20px;
}
div.screenshot table{
	margin-top: 0px;
}
div.screenshot img{
	border: 1px solid #346773;
	padding: 2px;
	margin: 0px;
}

img.home{
    margin-top: 10px;
	margin-right: 10px;
	border: 1px solid #346773;
	padding: 2px;
	margin: 2px;
}

div.home{
	background-color: #CEE0E6;
	padding: 10px;
	border: 3px solid #ABC5CE;
	font-size: 100%;
	margin-bottom: 10px;	
}

p.home{
	font-size: 120%;
	clear: right;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
	color: #BF0000;	
}

table.login input[type="text"], table.login input[type="password"]{
	width: 90%;
}

ul#tag_cloud
{
  list-style: none;
  background-color: #CEE0E6;
  padding: 3px;
  border: 3px solid #ABC5CE;
  margin-bottom: 12px;
}
 
ul#tag_cloud li
{
  list-style: none;
  display: inline;
}

ul#tag_cloud li.title{
	font-weight: bold;
	color: #BF0000;
}

ul#tag_cloud li.tag_popularity_1
{
  font-size: 40%;
}
 
ul#tag_cloud li.tag_popularity_2
{
  font-size: 90%;
}
 
ul#tag_cloud li.tag_popularity_3
{
  font-size: 110%;
}
 
ul#tag_cloud li.tag_popularity_4
{
  font-size: 140%;
}

p.success{
	padding-top: 10px;
	padding-bottom: 10px;
	color: red;
}
