/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-07-29, 18:30 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background:url("../../images/impress/design/bg.gif") 0 0 repeat-x; font:0.8em/1.5 "arial", sans-serif;}

h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:15px 0;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

ul.ul-01 {margin:15px 0; list-style:none;}
ul.ul-01 li {padding:2px 0 2px 25px; background:url("../../images/impress/design/ul-01.gif") 0 50% no-repeat; font-size:85%;}

ul.ul-list {margin:15px 0; list-style:none;}
ul.ul-list li {padding:1px 0;}
ul.ul-list span.date {padding-right:10px;}

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {width:95%; margin:0 auto; overflow:hidden;}

    #header {position:relative; height:90px; padding:0 20px 10px 20px;}

        #logo {margin:0;}

        #nav {position:absolute; top:60px; right:20px; margin:0;}
        #nav span {margin:0 8px;}
        #nav #nav-active {font-weight:bold; text-decoration:none;}

    #tray {position:relative; height:45px; overflow:hidden; font:bold 90%/1 "tahoma",sans-serif;}
    #tray ul {margin:0 20px; list-style:none;}
    #tray li {display:inline;}
    #tray li a {display:block; float:left; padding:17px 20px 17px 18px; background:url("../../images/impress/design/tray-separator.gif") 100% 0 no-repeat; text-decoration:none;}
    #tray li a:hover {background:url("../../images/impress/design/tray-hover.gif");}
    #tray li#tray-active a {background:url("../../images/impress/design/tray-active.gif");}

        #search {position:absolute; top:8px; right:20px;}
        #search div {position:relative; width:185px;}

        #search #search-input {position:absolute; top:0; left:0; width:150px; height:30px; background:url("../../images/impress/design/search-input.gif") 0 0 no-repeat; overflow:hidden;}
        #search #search-input input {width:136px; margin:8px; border:0; font:100%/1 "arial",sans-serif;}
        #search #search-submit {position:absolute; top:0; right:0; width:30px;}

    #footer {clear:both; padding:20px 20px 40px 20px; font-size:85%;}
    #footer p {margin:0;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#col-top {width:960px; height:5px; margin-top:15px; background:url("../../images/impress/design/col-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#col-bottom {width:960px; height:5px; margin-bottom:15px; background:url("../../images/impress/design/col-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#col {position:relative; padding:15px 30px 15px 20px; background:url("../../images/impress/design/col.gif") 0 0 repeat-y;}

    #ribbon {position:absolute; top:-5px; left:0; width:100px; height:100px; background:url("../../images/impress/design/ribbon.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden; z-index:10;}

    #col-browser {position:relative; float:left; width:280px; height:215px; background:url("../../images/impress/design/browser.gif") 0 0 no-repeat;}
    #col-browser img {position:absolute; top:28px; left:10px;}

    #col-text {float:right; width:600px; padding-top:15px; line-height:1.7;}

        #slogan {position:relative; width:470px; height:33px; overflow:hidden; margin:0; padding:0; font-size:180%;}
        #slogan span {display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; margin:0; padding:0; background:url("../tmp/slogan.gif") 0 0 no-repeat;}
        #btns {margin-top:25px; margin-bottom:0;}

#cols2-top {width:960px; height:5px; margin-top:15px; font-size:0; line-height:0; overflow:hidden;}
#cols2-bottom {width:960px; height:5px; margin-bottom:15px; font-size:0; line-height:0; overflow:hidden;}
#cols2 {}

    #cols2 #col-left {float:left; width:70%; padding:20px; min-width: 500px; min-height: 600px; }
    #cols2 #col-right {float:right; width:21%; margin-right:1px; padding:20px;}

        #cols2 #col-left h4, #cols2 #col-right h4 {margin:0; font-size:100%;}
        #cols2 #col-left .title {background:url("../../images/impress/design/dot.gif") 0 50% repeat-x;}
        #cols2 #col-left .title h4, #cols2 #col-left .title h2 {display:inline; padding-right:10px;}
        #cols2 #col-left .title span {padding-left:10px;}

        #cols2 #col-right h4 {background:url("../../images/impress/design/dot-02.gif") 0 50% repeat-x;}
        #cols2 #col-right h4 span {padding-right:10px;}
        #cols2 #col-right .title h4 {margin-top: 10px;}
        #cols2 #col-right ul.ul-list {margin-top: 10px !important;}

        #cols2 .col-right-img {float:left; width:65px;}
        #cols2 .col-right-text {float:right; width:190px;}
        #cols2 .col-right-text p {margin:0;}


#cols3-top {height:5px; margin-top:15px; font-size:0; line-height:0; overflow:hidden;}
#cols3-bottom {height:5px; margin-bottom:15px; font-size:0; line-height:0; overflow:hidden;}
#cols3 {}

    .col {float:left; width:32%; padding:0 1px; margin-right:15px;}
    .col.last {margin-right:0;}
    .col h3 {margin:0; padding:7px 15px 12px 50px; background:url("../../images/impress/design/cols3-title.gif") 20px 40% no-repeat; font-size:120%;}

        .col-text {padding:20px; border-top:1px solid #DFDFDF;}
        .col-text p {margin:0;}
        .col-text ul {margin-bottom:0;}
        .col-more {padding:10px 10px 1px 0; text-align:right;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.ico-comment {padding-left:18px; background:url("../../images/impress/design/ico-comment.gif") 0 50% no-repeat;}
.ico-rss {padding-left:18px; background:url("../../images/impress/design/ico-rss.gif") 0 50% no-repeat;}

.smaller {font-size:85%;}

table td, table th {border: 1px solid #F5F5F5; padding: 5px;}
table th {background-color: #EEF8E4}

span.lordo{display: none;}

table.edit th {text-align: right; width: 30%;}

table.edit  input[type="text"], table.login input[type="text"], input[type="text"], input[type="password"]{padding: 3px; border: 1px solid #BFBFBF; font-size: 110%; width: 300px;}
.filter input[type="text"], .box input[type="text"] {width: 150px;}
.dettagli_fattura input[type="text"] {width: auto;}

#breadcrumps {margin-top: 5px;}
#breadcrumps ul li, ul.radio_list li, div.actions ul li {display: inline}

ul.radio_list, div.actions ul li { list-style-type: none}
div.actions{background-color: #EEF8E4; padding: 3px 10px;}
td.trash{text-align: center; width: 5%;}

.box{margin-bottom: 10px;}

.red{color: red;}

table td.red {background-color: red; color: #000;}

#indicator{
	position: absolute;
	width: 100px;
	height: 40px;
	left: 5px;
	top: 10px;
	z-index: 900;
	background: url(../../images/indicator.gif) no-repeat;
}

.hide{display: none;}

.chart{float: left;}
.chart h2{margin-left: 30px;}

#col-right label { display: block; background-color: #009900; color: #fff; margin: 5px 0 5px 0; padding: 0 3px; }
#col-right .button { margin-top: 5px; }
#col-right hr { border: 1px solid #009900; margin-top: 5px; }
#col-right .button-block { text-align: right; }

.notice{ color:red; font-size: 70%; }

.hiddenrow { display:none;}

.break { clear: left; }

table.monitor { border: 0; width: 180px; }
table.monitor td, table.monitor th { padding: 0px; border: 0px;}
table.monitor th { text-align: left; }